* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  
  color: white
}
h1{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 40px;
line-height: 100px;
}
h2{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
  line-height: 50px;
}

.two-column-with-fullScreenImage {
  padding: 5%;
}

.inner-content {
  display: flex;
}

.left-column,
.right-column {
  width: 50%;
color: antiquewhite;}

.left-column {
  padding-bottom: 50px;
}

.image-container figure {
  width: 100%;
  display: flex;
  justify-content: center;
}


.image-container figure img {
  width: 300%;
}

.image-container figure img {

  height: 500px;
  object-fit: cover;
  object-position: center;
}
p{
    text-align: justify;
}